@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
	--primary-color: #cef1ef;
	--secondary-color: #5c9a96;
	--text: #ffffff;
	--link: #dff9f7;
	--linkhover: rgb(26, 236, 236);
	--font-family-link: "Merriweather", serif;
	--font-family-text: "Fjalla One", sans-serif;
}

.footer-container {
    width: 100%;
	display: flex;
    justify-content: space-between;
	background-color: var(--secondary-color);
    padding: 1rem;
}

.footer-text {
	font-family: var(--font-family-text);
	color: var(--text);
    font-size: 0.8rem;
	text-align: center;
	margin-top: 10px;
}

.footer-link {
	font-family: var(--font-family-link);
	color: var(--link);
	font-size: 0.8rem;
}
