@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

:root {
	--primary-color: #cef1ef;
	--secondary-color: #5c9a96;
	--text: #ffffff;
	--link: #dff9f7;
	--linkhover: rgb(26, 236, 236);
	--font-family-link: "Merriweather", serif;
}

.nav-container {
	width: 100%;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.8rem;
}

.nav-list {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	gap: 1rem;
	padding: 0.5rem;
	margin: 0;
}

@media screen and (min-width: 768px) {
	.nav-container {
		justify-content: space-around;
	}
}

a {
	text-decoration: none;
	font-family: var(--font-family-link);
	color: var(--link);
	font-size: 1rem;
}

@media screen and (min-width: 768px) {
	a {
		font-size: 1.5rem;
	}
}

a:hover {
	color: var(--linkhover);
	text-transform: uppercase;
}
