@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--primary-color);
}

@media screen and (min-width: 768px) {
	.body{
    flex-direction: row;
    justify-content: space-between;
	}
}

:root {
  --font-family-title: 'Courgette', cursive;
  --font-family-link: "Merriweather", serif;
  --font-family-text: 'Fjalla One', sans-serif;
  --primary-color: #fefefe;
  --secondary-color: #5c9a96;
  --text: #ffffff;
}

.container-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
}
